$bg-color: rgba(228, 241, 254, 1);

$primary-btn-bg: rgba(15, 111, 255, 1); //#0f6fff
$primary-btn-bg-hover: rgba(15, 111, 255, 0.8); //#4e95ff
$primary-btn-color: #ffffff;

$secondary-btn-bg: rgba(219, 233, 255, 1); //#dbe9ff
$secondary-btn-bg-hover: rgba(219, 233, 255, 0.6); //#e7f1ff
$secondary-btn-color: #0f6fff;
